@import "./header";
@import "./categories";
@import "./collection";
@import "./ourStore";
@import "./hero";
@import "./shop";
@import "./earings";
@import "./news";
@import "./conatct";
.app {
  color: #545454;
  .ReactStickyHeader_root {
    box-sizing: inherit;
  }
  .ReactStickyHeader_root * {
    box-sizing: inherit;
  }
}
